.new-post-form
	label
	input
	textarea
		display block

	transition all .3s

.add-new-post-section
	border-bottom borderSet

.post-form-label
	font-size 0.9rem
	margin-bottom 10px

.post-form-title
.post-form-body
	width 100%
	margin-bottom 15px
	border borderSet
	padding 10px
	box-sizing border-box