.post
	margin-bottom 15px
	padding-bottom 15px
	box-sizing border-box
	border-bottom 1px dashed alpha(lightgray, .5)

	&:last-child
		margin-bottom 0

.post-body
	margin-bottom 15px
	border-bottom borderSet